astroid==2.3.3
bibtexparser==1.4.0
fire==0.4.0
isodate==0.6.1
isort==4.3.4
lazy-object-proxy==1.4.3
logilab-common==1.4.3
mccabe==0.6.1
pylatexenc==2.10
pylint==2.4.4
pyparsing==3.0.9
rdflib==6.2.0
six==1.14.0
termcolor==2.0.1
watchdog==2.1.9
wrapt==1.11.2
