astroid==2.3.3
bibtexparser==1.2.0
fire==0.4.0
future==0.18.2
isodate==0.6.0
isort==4.3.4
lazy-object-proxy==1.4.3
logilab-common==1.4.3
mccabe==0.6.1
pylatexenc==2.10
pylint==2.4.4
pyparsing==3.0.6
rdflib==6.0.2
six==1.14.0
termcolor==1.1.0
watchdog==2.1.6
wrapt==1.11.2
